.gitignore
build/
output/
doc/doxygen
config_local
# transient
*~
*.swp
\#*
.\#*
.cache
# latex
*.aux
*.pda
*.toc
*.log
*.fdb*
*.out
*.pdf
*.blg
*.snm
*.nav
# code
tags
*.pyc
*.o
compile_commands.json
# vim
.viminfo
.vimrc
.nvimrc
*.vim
.ycm_extra_conf.py
data/dayabay/
config_local
.gitignore
.viminfo
tags
.cache
data/*
UltiSnips/*
makerst
*CMakeFiles*
*Makefile*
*cmake_install.cmake
inputs
.fish_functions
