# Build related folders
build
builds/
doc/doxygen

# Other folders
legacy/
data
input_data
output
plot_sens_delta/

# Local configuration files and folders
config_local
.local/
.direnv/
.envrc
.pre-commit-config.yaml
.rootsetup
.fish_functions
matplotlibrc

# Transient files (vim, etc)
*~
*.swp
\#*
.\#*
.cache
**/.ipynb_checkpoints/*
.idea/

# vim
UltiSnips/*
.viminfo
.vimrc
.nvimrc
*.vim
.ycm_extra_conf.py

# Latex
*.aux
*.pda
*.toc
*.log
*.fdb*
*.out
*.pdf
*.blg
*.snm
*.nav
# code

# Code
tags
*.pyc
*.o
compile_commands.json
*.ipynb

# Various specific scripts
doc/makerst
.clangd
.vimcache
